body {
    color: #222;
    background-color: #99f;
    line-height: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

pre, code{
    padding: 1em;
    background-color: black;
    color: lightgrey;
}

pre{
    overflow-x: auto;
}

aside#menu{
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    overflow-x: auto;
    z-index: -10;
}

aside#menu nav{
    margin-left: 1rem;
    margin-right: 1rem;
}

aside#menu nav * {
    word-wrap: normal;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

.navegacion ul{
    display: flex;
    flex-wrap: wrap;
}

.navegacion ul li{
    margin: 0.5rem;
}

.navegacion li a {
    background-color: white;
    color: #4d4dff;
    padding: 0.25rem;
}

.navegacion .activo {
    background-color: #99f;
    color: #EEE;
}

.sticky-nav{
    background-color: #99f;
    border-bottom: 1px solid #4d4dff;
    /*position: sticky;
    top: 0;*/
}

.lectura {
    background-color: #EEE;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.centrar {
    text-align: center;
}

@media screen and (max-width: 59.999rem){
    header h1{
        font-size: small;
    }
    pre, code{
        padding: 0;
    }
}
